In [1]:
import pandas as pd
car_accidents = pd.read_csv('../data/crime/Motor_Vehicle_Collisions_-_Crashes.csv')
car_accidents.head()

C:\Users\Ole\AppData\Local\Temp\ipykernel_9452\2809655668.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  car_accidents = pd.read_csv('../data/crime/Motor_Vehicle_Collisions_-_Crashes.csv')

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,09/11/2021,9:35,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,12/14/2021,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN

In [3]:
print(len(car_accidents))

1998478

In [4]:
df_filtered_2022 = car_accidents[car_accidents['CRASH DATE'].str.contains('2022')]
print(len(df_filtered_2022))

103823

In [7]:
df_filtered_2022 = car_accidents[car_accidents['CRASH DATE'].str.contains('2022')]
df_filtered_2022= df_filtered_2022.rename(columns={'LONGITUDE': 'Longitude'})
df_filtered_2022 = df_filtered_2022.rename(columns={'LATITUDE': 'Latitude'})
df_filtered_2022.to_csv('../data/crime/car_accidents_2022.csv', index=False)

In [3]:
import pandas as pd
df_timeline = pd.read_csv('../data/medianAskingRent_grouped.csv', sep=';')
df_timeline.head(20)

          Borough     Date     Rent  Year  Month Month Names
0           Bronx  2010-01  1425.00  2010      1         Jan
1        Brooklyn  2010-01  1875.36  2010      1         Jan
2       Manhattan  2010-01  2700.26  2010      1         Jan
3   New York City  2010-01  2500.00  2010      1         Jan
4          Queens  2010-01  1453.70  2010      1         Jan
5   Staten Island  2010-01      NaN  2010      1         Jan
6           Bronx  2010-02  1450.00  2010      2         Feb
7        Brooklyn  2010-02  1827.04  2010      2         Feb
8       Manhattan  2010-02  2624.91  2010      2         Feb
9   New York City  2010-02  2500.00  2010      2         Feb
10         Queens  2010-02  1512.00  2010      2         Feb
11  Staten Island  2010-02      NaN  2010      2         Feb
12          Bronx  2010-03  1450.00  2010      3         Mar
13       Brooklyn  2010-03  1837.30  2010      3         Mar
14      Manhattan  2010-03  2597.30  2010      3         Mar
15  New York City  2010-03  2500.00  2010      3         Mar
16         Queens  2010-03  1552.00  2010      3         Mar
17  Staten Island  2010-03      NaN  2010      3         Mar
18          Bronx  2010-04  1412.50  2010      4         Apr
19       Brooklyn  2010-04  1882.74  2010      4         Apr

:

In [6]:
import pandas as pd
df_measures_2022 = pd.read_excel(
       io='../data/measures_2022.xlsx',
       sheet_name ='CHP_all_data'
    )
df_measures_2018 = pd.read_excel(
    io='../data/measures_2018.xlsx',
    sheet_name ='CHP_all_data'
)
df_measures_2015 = pd.read_excel(
    io='../data/measures_2015.xlsx',
    sheet_name ='CHP_all_data'
)

df_radar_2022 = df_measures_2022
df_radar_2018 = df_measures_2018
df_radar_2015 = df_measures_2015

df_radar_2022 = df_radar_2022[["Borough","Poverty","Unemployment","Air Pollution","Bike Coverage","Smoking","Obesity"]]
#df_radar_2022 = pd.melt(df_radar_2022, id_vars=["Borough"], var_name="Category", value_name="Percent", 
#                            value_vars=["Poverty","Unemployment","Air Pollution","Bike Coverage","Smoking","Obesity"])
df_radar_2022 = df_radar_2022.round(decimals=0)

df_radar_2018 = df_radar_2018[["Borough","Poverty","Unemployment","Air Pollution","Bike Coverage","Smoking","Obesity"]]
#df_radar_2018 = pd.melt(df_radar_2018, id_vars=["Borough"], var_name="Category", value_name="Percent", 
#                            value_vars=["Poverty","Unemployment","Air Pollution","Bike Coverage","Smoking","Obesity"])
df_radar_2018 = df_radar_2018.round(decimals=0)

df_radar_2015 = df_radar_2015[["Borough","Poverty","Unemployment","Air Pollution","Bike Coverage","Smoking","Obesity"]]
#df_radar_2015 = pd.melt(df_radar_2015, id_vars=["Borough"], var_name="Category", value_name="Percent", 
#                            value_vars=["Poverty","Unemployment","Air Pollution","Bike Coverage","Smoking","Obesity"])
df_radar_2015 = df_radar_2015.round(decimals=0)

In [7]:
df_radar_2018.head(20)
#df_measures_2022.head(10)

,Borough,Poverty,Unemployment,Air Pollution,Bike Coverage,Smoking,Obesity
0,NYC,20,9,8.0,10,14,24
1,Manhattan,14,7,9.0,29,13,15
2,Bronx,25,13,8.0,12,14,32
3,Brooklyn,21,9,8.0,13,14,27
4,Queens,19,8,7.0,6,14,22
5,Staten Island,17,6,7.0,4,16,25